/*
Pin your Android toolchain here when you are ready to make the scaffold runnable.

Suggested knobs to lock before enabling builds:
- Android Gradle Plugin version
- Kotlin version
- Compose compiler / BOM version
- minSdk / targetSdk
*/

plugins {
    // id("com.android.application") version "X.Y.Z" apply false
    // id("org.jetbrains.kotlin.android") version "X.Y.Z" apply false
}
